*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Neuehaasdisplay mediu,sans-serif;
}

html, body{
    height:100%;
    width: 100%;
}

#page1{
    min-height:100vh;
    width: 100%;
    background-color:#efeae3;
    position:relative;
    padding: 0 2vw;
}
nav{
    padding: 2vw 0vw;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
        z-index: 100;
}
nav h3{
    display: none;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border:1px solid rgba(0, 0, 0, 0.132);
    border-radius:50px;
    font-weight:500;
    color: #000000bb;
    position:relative;
    font-size:18px;
    transition: all ease 0.4s;
    overflow: hidden;
}
#nav-part2 h4::after{
    content:"";
    position: absolute;
    height:100%;
    width:100%;
    background-color: black;
    bottom:-100%;
    left:0;
    border-radius: 50%;
    transition: all ease 0.4s;
}
#nav-part2 h4:hover::after{
    bottom:0;
    border-radius:0;

}
#nav-part2 h4 a{
    color:#000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a{
    color: white;
}
#center{
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2vw;
}
#left h3{
    width: 25vw;
    font-size:1.8vw ;
    line-height: 2vw;
    
}
#center h1{
    font-size:10vw ;
    line-height: 8vw;
    text-align: right;
}
#page1 video{
    position: relative;
    width: 100%;
    margin-top:4vw ;
    border-radius: 30px;
}
#hero-shape{
    
    position: absolute;
    width: 46vw;
    height: 36vw;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 0;
    top:75vh;
    filter: blur(10px);
    
}
#hero-1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(15px);
}
#hero-2{
    position: absolute;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    background: linear-gradient(#FE320A,#fd6b1c);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
    animation-name: anime2;
    animation-duration: 1s;
    animation-timing-function:linear;
    animation-iteration-count: infinite; 
    animation-direction:  alternate ;
}
#hero-3{
    position: absolute;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    background: linear-gradient(#FE320A,#fd6f1cf8);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 1s;
    animation-timing-function:linear;
    animation-iteration-count: infinite; 
    animation-direction:  alternate ;
}
@keyframes anime1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,10%);
    }
}
@keyframes anime2 {
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,20%);
    }
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}
#gola{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 12s;
    animation-timing-function:linear ;
    animation-iteration-count: infinite;
}

#page2-bottom{
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}
#page2-bottom h1{
    font-size: 4.5vw;
    width: 70%;
    line-height:4vw ;
    letter-spacing: -3px;
    
}
#bottom-part2{
    width: 20%;
   
}
#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}
#bottom-part2 p{
   font-weight: 100;
   font-size: 13px; 
   color: rgba(0, 0, 0, 0.844);
   margin-top: 3vw;
}
#gooey{
  height: 32vw;  
  width: 32vw;
  border-radius: 50%;
  background:linear-gradient(to top right,#fb3007,#ff8902fb) ;
  position: absolute;
  top: 60%;
  left: 25%;
  filter:blur(18px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes gooey{
    from{filter: blur(18px);
        transform: translate(10%,-10%) skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%,10%) skew(-12deg);
    }
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 4vw 0;
}
.elem{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid rgba(111, 108, 108, 0.414);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}
.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: #fd6b1c;
    position: absolute;
    top: -100%;
    left: 0;
    transition: all ease 0.3s;

}
.elem:hover .overlay{
    top: 0;
}
#fixed-image{
    height: 30vw;
    width: 25vw;
    border-radius: 10px;
    position: fixed;
    background-color: red;
    z-index: 99;
    left: 50%;
    top: 25%;
    display:none;
    background-size: cover;
    background-position: center;
}
#featured p{
    font-weight: 100;
    font-size: 12px; 
    color: rgba(0, 0, 0, 0.844);
    margin-top: 3vw;
}
#featured{
    margin-left: 2.5vw;
}
#main{
    
    position: relative;
    z-index: 10;
}
#page4{
    height: 70vh;
    width:100% ;
    background-color: #efeae3;
    padding:  7vw 2vw ;
}
.swiper {
    width: 100%;
    height: 100%;
    
  }

.swiper-slide{
    width: 20%;
    border-left: 1px solid #aeadad;
}
.swiper-slide:nth-child(n) {
    width: 20%;
  }

  .swiper-slide:nth-child(3n) {
    width: 25%;
  }


 

#page5{
    height: 100vh;
    width:100% ;
    
}
#footer{
    position: fixed;
    z-index: 9;
    height: 105vh;
    width: 100%;
    background-color: #000000;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding:1vw 2vw;
}
#footer h1{
   font-size: 21vw; 
}
#footer-div{
    height:20vh ;
    width: 100%;
    position: absolute;
    bottom: 60%;
    left: 10%;
    z-index: 99;
}
#footer-div h2{
    color: white;
    font-size: 5vh;
    letter-spacing: -1px;
    position: relative;
}
#gooeylast1{
    width: 100%;
    height: 35vh;
    position: absolute;
    top: 10%;
    left: 0;
    background:linear-gradient(to top right,#fb3007,#ff6702fb) ;
    position: absolute;
    filter:blur(48px);
    
}
#gooeylast2{
    width: 120%;
    height: 55vh;
    position: absolute;
    background:linear-gradient(to top right,#fb3007,#ff6702fb) ;
    position: absolute;
    filter:blur(50px);
    rotate: 225deg;
    bottom: 70%;
    left:25%;
    animation: gooeylast2 7s infinite alternate;
    
}


@keyframes gooeylast2 {
    from {
        filter: blur(40px);
        transform:  rotate(10deg);
    }
    to {
        filter: blur(70px);
         rotate:(200deg);
    }
}

#gooeylast3{
    width:130%;
    height:40vh;
    background:linear-gradient(to top right,#fb2e05,#ff5f03);
    position: absolute;
    top:10%;
    left:-60%;
    rotate:-50deg;
    filter:blur(40px);
    animation: gooeylast3 4.5s infinite alternate;
}
@keyframes gooeylast3 {
    from {
        
        transform:  rotate(30deg);
    }
    to {
        
         rotate:(-220deg);
    }
}



#footer-bottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}

.footer1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 10vh;
    border-top: 1px solid rgba(88, 86, 86, 0.326);
    
}
#f1 {
    flex: 1;
    margin: 0 45px; 
    color: #efeae3;
    text-decoration: none;
    font-size: 15px;
}

.hamburger{
    display: none;
}
#full-scr{
    height: 100vh;
    width: 100%;
    background-color: #191919a4;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}
#full-div1{
   height:50%;
   width:100%;
   background-color: #efeae3;
   border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;
   
}


@media (max-width:600px){

    #page1{
        min-height:100vh;
        width: 100%;
        padding: 0 0vw;
    }
    nav{
        padding: 8vw 5vw;
        width:100%;
        background-color:#efeae3;
        
    }  
    nav img{
        height: 9vh;
        transition: all ease 0.4s;
    }
    #nav-part2{
        display: none;
        
    }
    nav h3{
      display: block;  
      padding:3vw 5vw ;
      border: 1px solid #9a9696;
      border-radius: 50px;
      font-size: 4vw;
      font-weight: 200;
      padding-left: 10vw;
    }
    .hamburger {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 2.27rem;
        right: 4rem;
        cursor: pointer;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      
      .line {
        width: 70%;
        height: 0.1rem;
        background-color: #7c7878;
        border-radius: 0.2rem;
        transition: all 0.5s ease-in-out;
      }
      
      .clicked .line-1 {
        transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
      }
      
      .clicked .line-2 { 
        opacity: 0;
      }
      
      .clicked .line-3 {
        transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
      }

      #center{
        width: 100%;
        height: 62vh;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        padding: 7vw 5vw;
        position: relative;
        z-index: 9;
    }
    #left h3{
        width: 80%;
        font-size:5.5vw ;
        line-height: 6vw;
        
    }
    #center h1{
        font-size:17vw ;
        line-height:14vw;
        text-align: right;
    }
    #page1 video{
        position: relative;
        width: 92%;
        margin-top:4vw ;
        border-radius: 15px;
        margin-left:4% ;
        height: 70vh;
        object-fit: cover;
        object-position: center;
    }
    #hero-shape{
        
        position: absolute;
        width: 82vw;
        height:76vw;
        background-color: #FE320A;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        right: 0;
        top:75vh;
        filter: blur(10px);
        
    }
    #hero-1{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #FE320A;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        filter: blur(15px);
    }
    #hero-2{
        position: absolute;
        border-radius: 50%;
        width: 30vw;
        height: 30vw;
        background: linear-gradient(#FE320A,#fd6b1c);
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        filter: blur(25px);
        animation-name: anime2;
        animation-duration: 1s;
        animation-timing-function:linear;
        animation-iteration-count: infinite; 
        animation-direction:  alternate ;
    }
    #hero-3{
        position: absolute;
        border-radius: 50%;
        width: 30vw;
        height: 30vw;
        background: linear-gradient(#FE320A,#fd6f1cf8);
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        filter: blur(25px);
        animation-name: anime1;
        animation-duration: 1s;
        animation-timing-function:linear;
        animation-iteration-count: infinite; 
        animation-direction:  alternate ;
    }

    #page2{
        min-height: 100vh;
        width: 100%;
        background-color: #efeae3;
        position: relative;
    }
    #moving-text{
        white-space: nowrap;
        overflow-x: auto;
    }
    #moving-text::-webkit-scrollbar{
        display: none;
    }
    #moving-text h1{
        font-size: 14vw;
        display: inline-block;
        padding-top: 5vh;
    }
    #gola{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: #FE320A;
        display: inline-block;
        margin: 2.3vw 2vw;
    }
    .con{
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 12s;
        animation-timing-function:linear ;
        animation-iteration-count: infinite;
    }
    
    #page2-bottom{
        height: 80vh;
        width: 100%;
        padding: 4vw ;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 9;
        padding-top: 17vw;
        
    }
    #page2-bottom h1{
        font-size: 8vw;
        width: 100%;
        line-height:8vw ;
        padding-bottom: 17vw;
        
       
        
    }
    #bottom-part2{
        width: 70%;
       
    }
    #bottom-part2 img{
        width: 100%;
        border-radius: 8px;
    }
    #bottom-part2 p{
       font-weight: 100;
       font-size: 13px; 
       color: rgba(0, 0, 0, 0.844);
       margin-top: 8vw;
    }
    #gooey{
      height: 62vw;  
      width: 62vw;
      border-radius: 50%;
      background:linear-gradient(to top right,#fb3007,#ff8902fb) ;
      position: absolute;
      top: 60%;
      left: 25%;
      filter:blur(18px);
      animation-name: gooey;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
    
    

}
#loader{
   height: 100%; 
   width: 100%;
   background-color: #000000;
   position: fixed;
   z-index: 999;
   top: 0;
   transition: all ease 0.7s;
   display:flex;
   align-items: center;
   justify-content: center;
}
#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(2){
    animation-delay: 2s;    
}       
#loader h1:nth-child(3){
    animation-delay: 3s;
}
@keyframes load{
    0%{
        opacity: 0;

    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 1;

    }
}
@media(max-width:600px){
    #loader h1{
        font-size: 10vw;
        
    }
}

.swiper-slide p {
    font-size: 14px;
    color: #0b0500;
    padding-left: 4vh;
    width: 130%;
    
}
.swiper-slide img{
    padding-left: 4vh;
    padding-bottom: 6vh;
}
#last{
    width: 216vh;
    height: 150vh;
    background-color: black;
    margin: 6vh;
    margin-top: 40vh;
    border-radius: 20px;
    display: flex;
}

  
#last1 {
    flex: 1;
    padding: 20px; 
    color: #efeae3;
    position: relative;
  }
  #last1 h2{
    font-size:12vh;
    width: 55%;
    top: 20%;
    position: relative;
    left: 19%;
    color: rgb(73, 70, 70);
  }
  #last1 p{
    width:55%;
    top: 55%;
    position: absolute;
    left: 20%;
  }
  
  #last2 {
    flex: 1; 
  }
  
  #last2 img {
    width: 100%; 
    height: 100%; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
  }  



  @media(max-width:600px){
    .swiper {
        width: 100%;
        height: 60%;
        position: absolute;
        top: 17%;
        
      }
    
    .swiper-slide:nth-child(n) {
        width: 40%;
      }
    
      .swiper-slide:nth-child(3n) {
        width: 45%;
      }

      #last{
        width: 52vh;
        height: 125vh;
        margin: 3vh;
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
    }
    
      #last1 h2{
        font-size:7vh;
        width: 25%;
        top: 10%;
        position: relative;
        left: 8%;
        color: rgb(73, 70, 70);
      }
      #last1 p{
        width:80%;
        top: 60%;
        position: absolute;
        left: 13%;
        font-size: 2vh;

      }
      
      #last2 {
        flex: 1; 
      }
      
      #last2 img {
        width: 100%; 
        height: 100%; 
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        
      }  
      #page3 {
        padding: 28vw 0;
    }
    #footer h1{
       padding-bottom: 14vh;
    }
    .footer1{
        
        height: 17vh;
        padding: 10px;
    }
    #f1{
        font-size: 12px;
        margin: 0 20px;
    }
    .aa{
        color: #0b0500;
        letter-spacing: -.03em;
        font-size: 3.5em;
        line-height: 1.1;
        position: absolute;
        top: 18%;
        right: 0;
    }
    .bb{
        color: #0b0500;
        letter-spacing: -.03em;
        font-size: 3.5em;
        line-height: 1.1;
        position: absolute;
        top: 27%;
        right: 0;
    }
    .cc{
        color: #0b0500;
        letter-spacing: -.03em;
        font-size: 3.5em;
        line-height: 1.1;
        position: absolute;
        top: 36%;
        right: 0;
    }
  }








